#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        KANAchange {
            bindings = <&kp LG(SPACE)>;
            key-positions = <39 40>;
        };

        PLUS_combo {
            bindings = <&kp PLUS>;
            key-positions = <4 3>;
        };

        BT_home {
            bindings = <&bt BT_SEL 0>;
            key-positions = <0 9>;
        };

        BT_company {
            bindings = <&bt BT_SEL 1>;
            key-positions = <34 42>;
        };

        KO-ENchange {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <28 41>;
        };

        hold_Layer1 {
            bindings = <&lt 1 EXCLAMATION>;
            key-positions = <16 28>;
        };

        TAB_combo {
            bindings = <&kp TAB>;
            key-positions = <4 3>;
        };

        AND_combo {
            bindings = <&kp AMPERSAND>;
            key-positions = <9 8>;
        };

        ASTERISK_combo {
            bindings = <&kp ASTERISK>;
            key-positions = <5 6>;
        };

        LPAR_combo {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <27 5>;
        };

        RPAR_combo {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <27 6>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q              &kp W      &kp E                    &kp R        &kp T                                                     &kp Y        &kp U  &kp I      &kp O    &kp P
&kp A              &kp S      &kp D                    &kp F        &kp G      &kp LS(LG(S))       &kp SQT                    &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON
&kp Z              &kp X      &kp C                    &kp V        &kp B      &kp MINUS           &kp B                      &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH
&mt LCTRL AT_SIGN  &kp GRAVE  &mt LEFT_ALT LEFT_ARROW  &lt 2 RIGHT  &kp SPACE  &kp LEFT_SHIFT      &mt RIGHT_SHIFT BACKSPACE  &lt 3 ENTER                             &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
        };

        FUNCTION {
            bindings = <
&kp ESC  &kp F1   &kp F2   &kp F3        &kp AMPERSAND                                            &trans  &trans  &trans  &trans  &trans
&trans   &kp F4   &kp F5   &kp F6        &kp EXCLAMATION       &trans                     &trans  &trans  &trans  &trans  &trans  &trans
&trans   &kp F7   &kp F8   &kp F9        &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS      &trans  &trans  &trans  &trans  &trans  &trans
&kp F10  &kp F11  &kp F12  &kp LEFT_GUI  &kp AT_SIGN           &kp ASTERISK               &trans  &trans                          &to 0
            >;
        };

        NUM {
            bindings = <
&kp ESC  &trans  &trans  &trans  &trans                                   &kp NUMBER_1          &kp NUMBER_2           &kp NUMBER_3      &kp NUMBER_4       &kp NUMBER_5
&trans   &trans  &trans  &trans  &trans  &trans             &kp AT        &kp NUMBER_6          &kp NUMBER_7           &kp NUMBER_8      &kp NUMBER_9       &kp NUMBER_0
&trans   &trans  &trans  &trans  &trans  &kp AMPERSAND      &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH
&to 0    &trans  &trans  &trans  &trans  &kp HASH           &kp LEFT      &kp RIGHT                                                                         &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE  &kp LC(LS(TAB))  &kp UP_ARROW    &kp LC(TAB)      &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME    &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans           &trans          &trans           &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&to 0       &trans           &trans          &kp LC(RA(DEL))  &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };
    };
};
